.slider-main-product-one {
    width: 100%;
    height: 100%;
    .swiper {
      width: 100%;
      height: 200px;
      border-radius: 15px;
      object-fit: cover;
      /* margin-top: 10px; */
    }
  
    .swiper-slide {
      width: 100px;
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      .img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 25px;
      }
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  